@model GamesHomepageViewModel

<h1>Games</h1>

<div class="row">
    <div class="col-lg-6">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" value="Search Games" />
                </span>
                <input type="text" class="form-control" name="search" placeholder="Game Title">
                <span class="input-group-btn">
                    <a class="btn btn-default" href="/games">Clear Search</a>
                </span>
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-6">
        <form method="post" action="/games/home/create">
            <div class="text-danger">@this.TempData[WebConstants.TempDataErrorMessageKey]</div>
            <div class="input-group">
                <input class="form-control" type="text" name="theme" placeholder="Game Theme" />

                <select class="form-control" name="playerscount" placeholder="">
                    <option value="2" class="dropdown-item">2 players</option>
                    <option value="4" class="dropdown-item">4 players</option>
                    <option value="6" class="dropdown-item">6 players</option>
                    <option value="8" class="dropdown-item">8 players</option>
                </select>

                <input type="hidden" name="userId" value="@Model.CurrentUserId">
                <span class="input-group-btn">
                    <input style="height: 68px" type="submit" class="btn btn-primary" value="Create Game" />
                </span>
            </div>
        </form>
    </div>
</div>
<br />
@*<input type="text" name="search" placeholder="Game Title"/>
    <input class="btn btn-primary" type="submit" value="Search Games"/>
    <a class="btn btn-default" href="/games">Clear Search</a>*@

<div style="height: 300px; background-color: white">
    <ul class="list-group">

        @foreach (var game in Model.Games)
        {
            <li class="list-group-item">
                @game.Theme @game.SignedUpCount/@game.PlayersCount
                <a href="/games/play/details/@game.Id" class="btn btn-default">Details</a>
            </li>
        }
    </ul>
</div>

<div class="info">Page @(Model.Page + 1) / @(Model.TotalPages + 1)</div>
<ul class="pagination justify-content-center">
    @{
        var firstButtonDisabledClass = "";
        if (Model.Page <= 0)
        {
            firstButtonDisabledClass = "disabled";
        }
        var lastButtonDisabledClass = "";
        if (Model.Page >= Model.TotalPages)
        {
            lastButtonDisabledClass = "disabled";
        }
    }

    <li class="page-item  @firstButtonDisabledClass">
        <a class="page-link" href="/games?page=@(Model.Page-1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="page-item  @lastButtonDisabledClass">
        <a class="page-link" href="/games?page=@(Model.Page+1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>
